.main-carousel {
	position: relative;
	@include respond-to(md) {
		margin-top: -40px;
	}
	// .main-carousel__item
	&__item {
		height: 197px;
		display: block;
		background: center no-repeat;
		background-size: cover;
		@include respond-to(md) {
			height: 300px;
			border-radius: 10px;
		}
		@include respond-to(lg) {
			height: 400px;
		}
	}
	// .main-carousel__controls
	&__controls {
		display: flex;
		position: absolute;
		right: 20px;
		bottom: 15px;
		@include respond-to(md) {
			padding: 7px 14px 7px 16px;
			right: 50px;
			bottom: 30px;
			background: rgba($text-color, 0.5);
		}
	}
}
.slide {
	// .slide__caption
	&__caption {}
	// .slide__desc
	&__desc {}
}
