.search-form {
	@include respond-to(lg) {
		position: relative;
		width: 330px;
	}
	@include respond-to(xl) {
		width: 375px;
	}
	// .search-form_closed
	&_closed {
		// .search-form__wrapper
		.search-form__wrapper {
			width: 0%;
		}
	}
	// .search-form__wrapper
	&__wrapper {
		position: absolute;
		top: 4px;
		right: 80px;
		width: calc(100% - 80px - 4px);
		max-width: 375px;
		overflow: hidden;
		border-radius: 5px;
		transition: width 0.2s;
		@include respond-to(md) {
			top: 11px;
			right: 85px;
		}
		@include respond-to(lg) {
			top: -19px;
			right: -10px;
			width: 100%;
		}
	}
}

// input для фильтра (фильтр не переверстывался, стили старые от первой версии сайта на решении)
.input-group-field {
	color: $dark-grey;
	font-size: 12px;
	background: $light-grey;
	box-shadow: inset 3px 3px 2px rgba($black, 0.1);
	border-radius: 5px;
	border: 1px solid $dark-grey;
	width: 55px;
	height: 25px;
	line-height: 24px;
	padding: 0 5px;
}

.form-input {
	font-size: 18px;
	background: $white;
	box-shadow: inset 0 3px 4px rgba($black, 0.2);
	border-radius: 5px;
	border: 0;
	height: 45px;
	line-height: 42px;
	padding: 3px 15px 0;
	// .form-input_search
	&_search {
		color: $search-color;
		font-size: 14px;
		line-height: 36px;
		width: 100%;
		height: 39px;
		padding-right: 40px;
		&::placeholder {
			color: $search-color;
		}
	}
}


.form-button {
	background: transparent;
	border: 0;
	padding: 0;
	// .form-button_search
	&_search {
		right: 0;
		@include respond-to(lg) {
			position: absolute;
			top: -10px;
		}
	}
}
