// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'LatoWeb', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(0, 43, 83) !default;
$href-color: rgb(40, 115, 185) !default;

/// Main brand color
/// @type Color
$brand-color-primary: rgb(227, 115, 62) !default;
$brand-color-primary-darken: darken($brand-color-primary, 10%);
$brand-color-secondary: rgb(248, 72, 95) !default;
$brand-color-secondary-light: rgba(234, 27, 54, 0.4) !default;
$brand-color-secondary-darken: darken($brand-color-secondary, 10%);


/// Light grey
/// @type Color
$light-grey: rgb(242, 242, 242) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(221, 221, 221) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(169, 169, 169) !default;

/// Header logo, icons
$light-blue: rgb(0, 80, 153) !default;

/// Section background
$mid-blue: rgb(51, 68, 131) !default;

$white: #fff;
$black: #000;


/// Container's width & paddings
/// @type Length
$max-width: 1180px !default;
$min-width: 290px !default;
$max-padding: 20px !default;
$min-padding: 15px !default;



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'xs': 320px,
  'sm': 425px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1180px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
