.content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 35px;
	margin-left: -15px;
	margin-right: -15px;

	@include respond-to(md) {
		flex-direction: row;
	}

	// .content__col-main
	&__col-main {
		width: 100%;
		flex: 1 1 100%;
		padding: 0 15px;
	}

	// .content__col-left
	&__col-left {
		width: 100%;
		flex: 1 1 100%;
		margin-bottom: 20px;
		padding: 0 15px;

		@include respond-to(md) {
			width: 25%;
			flex: 1 1 25%;
			margin-bottom: 0;
		}

		@include respond-to(lg) {
			width: 20%;
			flex: 1 1 20%;
		}

		@include respond-to(xl) {
			width: 17%;
			flex: 1 1 17%;
		}
	}

	// .content__col-right
	&__col-right {
		width: 100%;
		flex: 1 1 100%;
		padding: 0 15px;

		@include respond-to(md) {
			width: 75%;
			flex: 1 1 75%;
		}

		@include respond-to(lg) {
			width: 80%;
			flex: 1 1 80%;
		}

		@include respond-to(xl) {
			width: 83%;
			flex: 1 1 83%;
		}
	}
}