.grid-sizer,
.products_kit,
.products_cat {
	width: 100% !important;
	background: $white;

	@include respond-to(xm) {
		width: 50% !important;
	}

	@include respond-to(lg) {
		width: 33.33334% !important;
	}
}

.grid-sizer {
	position: absolute;
}

.filter {

	// .filter__show-button
	&__show-button {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;

		.filter-opened {
			svg {
				transform: scaleY(-1);
			}
		}

		@include respond-to(md) {
			display: none;
		}
	}
}

.catalog {

	// .catalog__sort
	&__sort {
		display: flex;
		font-size: 14px;
		margin-bottom: 24px;
	}

	// .catalog__sort-label
	&__sort-label {
		margin-right: 18px;
	}

	// .catalog__sort-box
	&__sort-box {
		position: relative;
		display: flex;
		color: $brand-color-primary;
		cursor: pointer;

		// .catalog__sort-box_opened
		&_opened .svg-icon {
			transform: rotate(180deg) translate(2px, 1px);
		}
	}

	// .catalog__sort-box-active
	&__sort-box-active {
		margin-right: 6px;
		text-transform: lowercase;
	}

	// .catalog__sort-select
	&__sort-select {
		position: absolute;
		top: 20px;
		left: -10px;
		background: $white;
		text-transform: lowercase;
		white-space: nowrap;
		box-shadow: 0 1px 5px rgba($black, 0.2);
		border-radius: 5px;
		padding: 5px 10px;
		opacity: 0;
		z-index: -1;
		transition: 0.4s;

		// .catalog__sort-select_active
		&_active {
			opacity: 1;
			z-index: 9;
		}
	}

	// .catalog__sort-option
	&__sort-option {
		color: $text-color;
		padding: 3px 0;

		@include on-event {
			color: $brand-color-primary;
		}

		// .catalog__sort-option_selected
		&_selected {
			color: $brand-color-primary;
		}
	}


	// .catalog__items
	&__items {
		margin: 0 -11px 50px;
		display: flex;
		flex-wrap: wrap;
		position: relative;

		// .catalog__items_kit // masonry
		&_kit {}

		// .catalog__items_product // masonry
		&_product {}
	}
}

.catalog {

	// .catalog__sort-box
	&__sort-box {}

	// .catalog__sort-box-active
	&__sort-box-active {}
}

.catalog-footer {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	margin-bottom: 60px;

	@include respond-to(lg) {
		flex-direction: row;
		justify-content: space-between;
	}

	// .catalog-footer__col
	&__col {
		display: flex;
		align-items: flex-end;
		flex: 1 1 33.33334%;

		// .catalog-footer__col_show-count
		&_show-count {
			display: none;

			@include respond-to(lg) {
				display: flex;
			}
		}

		// .catalog-footer__col_load-more
		&_load-more {
			justify-content: center;
			margin: 5px 0 0;

			@include respond-to(lg) {
				margin: 0;
			}
		}

		// .catalog-footer__col_pagination
		&_pagination {
			justify-content: center;
			order: -1;

			@include respond-to(lg) {
				justify-content: flex-end;
				order: 1;
			}
		}
	}

	// .catalog-footer__label
	&__label {
		padding-bottom: 3px;
		margin-right: 10px;
	}

	// .catalog-footer__items
	&__items {
		display: flex;
		align-items: center;
	}

	// .catalog-footer__link
	&__link {
		color: $brand-color-primary;
		padding: 0 5px;

		@include on-event {
			text-decoration: underline;
		}

		// .catalog-footer__link_active
		&_active {
			font-size: 18px;
			font-weight: 700;
			text-decoration: underline;
		}
	}
}