.bx-ie11 {
	.product__wrapper {
		width: 300px;

		&:hover {
			max-width: 300px;
		}
	}
}

.grid-sizer,
.product_kit,
.product_cat {
	width: 100% !important;
	background: $white;

	@include respond-to(sm) {
		width: 50% !important;
	}

	@include respond-to(lg) {
		width: 33.333334% !important;
	}
}

.filter {

	// .filter__show-button
	&__show-button {
		display: flex;
		justify-content: center;
		margin-bottom: 10px;

		.filter-opened {
			svg {
				transform: rotate(180deg) translate(0, -1px);
			}
		}

		@include respond-to(md) {
			display: none;
		}
	}
}

.catalog {

	// .catalog__sort
	&__sort {
		display: flex;
		font-size: 14px;
		margin-bottom: 24px;
	}

	// .catalog__sort-label
	&__sort-label {
		margin-right: 18px;
	}

	// .catalog__sort-box
	&__sort-box {
		display: flex;
		color: $brand-color-primary;
		cursor: pointer;

		// .catalog__sort-box_opened
		&_opened .svg-icon {
			transform: rotate(180deg) translate(2px, 1px);
		}
	}

	// .catalog__sort-box-active
	&__sort-box-active {
		margin-right: 6px;
	}

	// .catalog__items
	&__items {
		margin: 0 -11px 50px;
		display: flex;
		flex-wrap: wrap;

		// .catalog__items_kit // masonry
		&_kit {}

		// .catalog__items_product // masonry
		&_product {}
	}
}

.catalog {

	// .catalog__sort-box
	&__sort-box {}

	// .catalog__sort-box-active
	&__sort-box-active {}
}




.product {
	display: flex;
	flex: 0 1 auto;
	width: 300px;
	margin: 11px 0;
	padding: 0 11px;

	&_kit {
		height: 455px;

		@include respond-to(sm) {
			height: 435px;
		}
	}

	&_cat {
		height: 405px;

		@include respond-to(sm) {
			height: 405px;
		}
	}

	// .product__wrapper
	&__wrapper {
		position: relative;
		display: flex;
		flex: 0 1 auto;
		flex-direction: column;
		background: $white;
		padding: 5px 0 10px;
		border-bottom: 1px solid $brand-color-primary;

		&:hover {
			z-index: 2;
			position: absolute;
			left: 0;
			width: auto;
			margin: 0 11px;

			.product__desc {
				display: block;
			}
		}

		// .product__wrapper_kit
		&_kit {
			padding: 12px 8px;
			border: 2px solid $brand-color-primary;
			border-radius: 10px;
		}
	}

	// .product__img-link
	&__img-link {
		display: block;
		flex: 0 0 auto;
		margin-bottom: 10px;
	}

	// .product__img
	&__img {
		width: 100%;
		max-width: 100%;
		border-radius: 8px;
		object-fit: cover;
	}

	// .product__text
	&__text {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	// .product__kit-count
	&__kit-count {
		color: $brand-color-primary;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 13px;
	}

	// .product__name
	&__name {
		display: block;
		font-size: 15px;
		font-weight: 700;
		margin-bottom: 10px;

		@include respond-to(md) {
			font-size: 16px;
		}
	}

	// .product__desc
	&__desc {
		font-size: 15px;
		margin-bottom: 10px;
		display: none;

		@include respond-to(md) {
			font-size: 16px;
		}
	}

	// .product__like
	&__like {
		display: flex;
		color: $brand-color-primary;
		font-size: 14px;
		line-height: 1.1;
		margin-bottom: 11px;
	}

	// .product__like-label
	&__like-label {
		padding-top: 1px;
		margin-left: 5px;
	}

	// .product__buttons
	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.btn {
			flex-grow: 1;
		}

		&>*:last-child {
			padding: 0 14px 0 20px;
		}
	}
}

.catalog-footer {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	margin-bottom: 60px;

	@include respond-to(lg) {
		flex-direction: row;
		justify-content: space-between;
	}

	// .catalog-footer__col
	&__col {
		display: flex;
		align-items: flex-end;
		flex: 1 1 33.33334%;

		// .catalog-footer__col_show-count
		&_show-count {
			display: none;

			@include respond-to(lg) {
				display: flex;
			}
		}

		// .catalog-footer__col_load-more
		&_load-more {
			justify-content: center;
			margin: 5px 0 0;

			@include respond-to(lg) {
				margin: 0;
			}
		}

		// .catalog-footer__col_pagination
		&_pagination {
			justify-content: center;
			order: -1;

			@include respond-to(lg) {
				justify-content: flex-end;
				order: 1;
			}
		}
	}

	// .catalog-footer__label
	&__label {
		padding-bottom: 3px;
		margin-right: 10px;
	}

	// .catalog-footer__items
	&__items {
		display: flex;
		align-items: center;
	}

	// .catalog-footer__link
	&__link {
		color: $brand-color-primary;
		padding: 0 5px;

		@include on-event {
			text-decoration: underline;
		}

		// .catalog-footer__link_active
		&_active {
			font-size: 18px;
			font-weight: 700;
			text-decoration: underline;
		}
	}
}