.contacts-block {
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	.footer__col & {
		a {
			color: $white;

			@include on-event {
				color: $brand-color-primary;
			}
		}
	}
}

//** Badges */
.badge {
	position: absolute;
	right: 15px;
	top: 0;
	z-index: 1;
	padding: 0 18px;
	min-width: 150px;
	color: $white;
	font-size: 12px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	white-space: nowrap;
	clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);
	background: $brand-color-primary;

	// text-shadow: 0 1px 0 rgba($brand-color-primary-darken, 1);
	// .badge_kit
	&_kit {
		top: 7px;
		right: 22px;
	}
}

//** Zoom out image on hover */
.zoomout {
	display: block;

	// .zoomout__bgr
	&__bgr {
		width: 100%;
		height: 100%;
		background-color: $mid-grey;
		/* fallback color */
		background-position: center;
		background-size: 110%;
		transition: background-size 0.2s ease;
	}

	&:hover &__bgr {
		background-size: 100%;
	}
}



//** Prices */
.prices-wrapper {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	//.prices-wrapper_card
	&_card {
		flex-basis: 100%;
		justify-content: center;
		margin-bottom: 20px;

		@include respond-to(md) {
			flex-basis: auto;
			margin-bottom: 0;
		}
	}
}

.price {
	font-size: 24px;
	font-weight: 700;
	line-height: 1;
	white-space: nowrap;

	// .price_leader
	&_leader {
		font-size: 20px;
		margin-top: 6px;
	}

	// .price_catalog
	&_catalog {
		color: $brand-color-primary;
		font-size: 18px;
		margin-bottom: 10px;
	}

	//.price_card
	&_card {
		margin-right: 17px;
	}

	// .price_total
	&_total {
		font-size: 20px;
		font-weight: 400;
	}
}

.price-old {
	color: $dark-grey;
	font-size: 20px;
	font-weight: 400;
	line-height: 1;
	white-space: nowrap;
	position: relative;

	// strike out
	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		top: 46%;
		border-bottom: 1px solid $dark-grey;
	}

	// .price-old_leader
	&_leader {
		color: $brand-color-secondary-light;
		margin-left: 20px;
		margin-top: 6px;

		&::before {
			border-bottom-color: $brand-color-secondary-light;
		}

		@include respond-to(md) {
			margin-left: 25px;
		}
	}

	// .price-old_card
	&_card {
		margin-right: 10px;
	}

}


//** Benefits */
.benefits {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
	justify-content: center;

	@include respond-to(lg) {
		margin: 20px -15px 0;
	}

	// .benefits__item
	&__item {
		display: flex;
		flex: 50%;
		max-width: 250px;
		padding: 30px 5px 0;
		flex-direction: column;
		align-items: center;

		@include respond-to(lg) {
			flex-basis: 25%;
			max-width: none;
			padding: 20px 15px 0;
		}
	}

	// .benefits__text
	&__text {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		margin-top: 6px;

		// margin-bottom: 30px;
		@include respond-to(lg) {
			font-size: 18px;
			// margin-bottom: 20px;
		}
	}

	// .benefits__text-small
	&__text-small {
		font-size: 10px;
		line-height: 1.3;
		margin-top: 7px;

		@include respond-to(lg) {
			font-size: 11px;
		}
	}
}


//** Tooltip */
.tooltip {
	display: inline;
	position: relative;

	// .tooltip__title
	&__title {
		display: inline-block;
		margin-bottom: 9px;
		font-size: 14px;
		font-weight: 700;
	}

	// .tooltip__label
	&__label {
		cursor: pointer;
		display: inline-block;
		width: 18px;
		height: 18px;
		color: $dark-grey;
		font-size: 17px;
		font-weight: 700;
		line-height: 1.1;
		text-align: center;
		background: $mid-grey;
		border: 1px solid $dark-grey;
		border-radius: 50%;

		@include on-event {
			+.tooltip__text {
				opacity: 1;
				z-index: 6;
			}
		}
	}

	// .tooltip__text
	&__text {
		opacity: 0;
		z-index: -1;
		width: 100vw;
		position: absolute;
		bottom: 20px;
		left: -15px;
		padding: 24px 19px;
		line-height: 1.5;
		background: $white;
		border: 1px solid $brand-color-primary;
		border-radius: 10px;
		transition: 0.2s;

		@include respond-to(sm) {
			width: 400px;
			left: 0;
		}
	}
}

//** Switcher */
.switcher {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-width: 230px;
	height: 36px;
	padding: 0 1px;
	background: $mid-grey;
	border: 2px solid $dark-grey;
	border-radius: 5px;
	box-shadow: inset 2px 2px 4px rgba($black, 0.15);
	cursor: pointer;

	// .switcher_cert-type
	&_cert-type {
		width: 230px;
	}

	// .switcher__option
	&__option {
		width: 100%;
		color: $dark-grey;
		font-size: 14px;
		height: 30px;
		padding: 5px 5px 0;
		white-space: nowrap;
		text-align: center;
		transition: 0.1s;
		@include respond-to(lg) {
			padding-top: 6px;
		}
	}
}

.switcher-selected {
	color: $white;
	font-size: 14px;
	font-weight: 700;
	background: $brand-color-primary;
	border-radius: 5px;
}