//** Badges */
.badge {
	position: absolute;
	right: 15px;
	top: 0;
	z-index: 1;
	padding: 0 18px;
	min-width: 150px;
	color: $white;
	font-size: 12px;
	font-weight: 700;
	line-height: 22px;
	text-align: center;
	white-space: nowrap;
	clip-path: polygon(0 0, 96% 0, 100% 100%, 4% 100%);
	background: $brand-color-primary;
	// text-shadow: 0 1px 0 rgba($brand-color-primary-darken, 1);
}

//** Zoom out image on hover */
.zoomout {
	display: block;
	// .zoomout__bgr
	&__bgr {
		width: 100%;
		height: 100%;
		background-color: $mid-grey; /* fallback color */
		background-position: center;
		background-size: 110%;
		transition: background-size 0.2s ease;
	}
	&:hover &__bgr{
		background-size: 100%;
	}
}



//** Prices */
.price {
	font-size: 24px;
	font-weight: 700;
	white-space: nowrap;
	// .price_leader
	&_leader {
		font-size: 20px;
	}
	// .price_cat
	&_cat {
		font-size: 18px;
	}
	// .price_total
	&_total {
		font-size: 20px;
		font-weight: 400;
	}
}
.price-old {
	color: $dark-grey;
	font-size: 20px;
	font-weight: 400;
	position: relative;
	// strike out
	&::before {
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		top: 46%;
		border-bottom: 1px solid $dark-grey;
	}
	// .price-old_leader
	&_leader {
		color: $brand-color-secondary-light;
		margin-left: 20px;
		&::before {
			border-bottom-color: $brand-color-secondary-light;
		}
		@include respond-to(md) {
			margin-left: 25px;
		}
	}
}


//** Benefits */
.benefits {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
	justify-content: center;
	@include respond-to(lg) {
		margin: 20px -15px 0;
	}
	// .benefits__item
	&__item {
		display: flex;
		flex: 50%;
		max-width: 250px;
		padding: 30px 5px 0;
		flex-direction: column;
		align-items: center;
		@include respond-to(lg) {
			flex-basis: 25%;
			max-width: none;
			padding: 20px 15px 0;
		}
	}
	// .benefits__text
	&__text {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		margin-top: 6px;
		// margin-bottom: 30px;
		@include respond-to(lg) {
			font-size: 18px;
			// margin-bottom: 20px;
		}
	}
	// .benefits__text-small
	&__text-small {
		font-size: 10px;
		line-height: 1.3;
		margin-top: 7px;
		@include respond-to(lg) {
			font-size: 11px;
		}
	}
}
