.products {
	display: flex;
	flex: 0 1 auto;
	width: 322px; // для ie и слайдера продуктов. в остальных местах - masonry + ширина в процентах или flex-basis
	margin: 11px 0;
	padding: 0 11px;

	// .products_small
	&_small {
		// width: 25%;
		// width: auto;
		// flex: 0 1 25%;
	}

	// .products_kit
	&_kit {
		height: 455px;

		@include respond-to(sm) {
			height: 435px;
		}
	}

	// .products_cat 
	&_cat {
		height: 405px;

		@include respond-to(sm) {
			height: 405px;
		}
	}

	// .products__wrapper
	&__wrapper {
		position: relative;
		display: flex;
		// flex: 0 1 auto;
		flex: 0 1 100%;
		flex-direction: column;
		background: $white;
		padding: 5px 0 10px;
		border-bottom: 1px solid $brand-color-primary;

		.products__desc {
			display: none;
		}

		&:hover {
			z-index: 2;
			position: absolute;
			left: 0;
			width: auto;
			margin: 0 11px;

			.products__desc {
				display: block;
			}
		}

		// .products__wrapper_kit
		&_kit {
			padding: 12px 8px;
			border: 2px solid $brand-color-primary;
			border-radius: 10px;
		}

		// .products__wrapper_carousel
		&_carousel {
			border-bottom: 0;
			padding-bottom: 0;

			.products__bottom {
				background: $white;
				padding-bottom: 10px;
				border-bottom: 1px solid $brand-color-primary;
			}

			body.touch & {
				.products__desc {
					display: none;
				}
			}

			&:hover {
				position: relative;
				margin: 0;
			}
		}
	}

	// .products__simple
	&__simple {
		position: relative;
		display: flex;
		flex: 0 1 auto;
		flex-direction: column;
		background: $white;
		padding: 5px 0 10px;
		border-bottom: 1px solid $brand-color-primary;

		// .products__simple_noborder
		&_noborder {
			border-bottom: 0;
			width: 100%;
		}
	}

	// .products__img-link
	&__img-link {
		display: block;
		flex: 0 0 auto;
		margin-bottom: 10px;
		cursor: default;
	}

	// .products__img
	&__img {
		width: 100%;
		height: 225px;
		max-width: 100%;
		border-radius: 8px;
		object-fit: cover;
	}

	// .products__text
	&__text {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	// .products__kit-count
	&__kit-count {
		color: $brand-color-primary;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 13px;
	}

	// .products__name
	&__name {
		display: block;
		font-size: 15px;
		font-weight: 700;
		margin-bottom: 10px;

		@include respond-to(md) {
			font-size: 16px;
		}
	}

	// .products__params
	&__params {
		color: $brand-color-primary;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	// .products__dops
	&__dops {
		color: $dark-grey;
		font-size: 14px;
		margin-bottom: 10px;
	}

	// .products__desc
	&__desc {
		font-size: 15px;
		padding-bottom: 10px;
		background: $white;

		@include respond-to(md) {
			font-size: 16px;
		}
	}

	// .products__full-desc
	&__full-desc {
		display: none;
	}

	// .products__like
	&__like {
		display: flex;
		color: $brand-color-primary;
		font-size: 14px;
		line-height: 1.1;
		padding-bottom: 11px;
		background: $white;
	}

	// .products__like-label
	&__like-label {
		padding-top: 1px;
		margin-left: 5px;
	}

	// .products__buttons
	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.btn {
			flex-grow: 1;
		}

		&>*:last-child {
			padding: 0 14px 0 20px;
		}
	}
}

.carousel-kit {
	height: 375px;
	background: $white;
}