.about {
	// .about__svg-bgr
	&__svg-bgr {
		height: 100%;
		padding: 41px 0 57px;
		background: url(../img/bgr_about.svg) 0 0 repeat;
		background-size: cover;
		@include respond-to(md) {
			background-size: auto;
		}
	}
	background: $mid-blue;
	color: $white;
	font-size: 18px;
	// .about__content
	&__content {
		margin-top: 30px;
	}
}