.pay-systems {
	height: 52px;
	background: $light-grey url(../img/logo-pay-systems-bw.png) center / auto 19px no-repeat;
	display: flex;
	justify-content: center;
	@include respond-to(md) {
		height: 80px;
		background-size: auto 34px;
	}
}
