.breadcrumbs {
	margin-top: 25px;
	// .breadcrumbs__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid $mid-grey;
	}
	// .breadcrumbs__item
	&__item {
		display: flex;
		font-size: 14px;
		line-height: 1;
		padding-bottom: 6px;
		&::after {
			content: '/';
			display: block;
			margin: 0 10px;
		}
		&:last-child {
			&::after {
				display: none;
			}
		}
		// .breadcrumbs__item_active
		&_active {
			color: $brand-color-primary;
		}
	}
}
