//** fancyboxes */
.fancybox-block {
	display: none;
}

.fancybox-block-caption {
	font-size: 24px;
	font-weight: 900;
}

.cart-pack-popup {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	max-width: 850px;
	margin: 0 -15px;
}

.cart-pack-popup .pack {
	text-align: center;
	flex-basis: 100%;
	padding: 20px 15px;

	@include respond-to(md) {
		flex-basis: 50%;
	}
}

.cart-pack-popup .image img {
	height: auto;
	margin: 0 auto 20px;
	max-width: 380px;
}

.cart-pack-popup .title {
	margin-bottom: 10px;
}

.cart-pack-popup .price {
	color: $brand-color-primary;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}
